.top{
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 25px;
    margin-top: 0px;
}
.full{
    width: 100%;
}
.w{
    margin-left: 720px;
    width: 150px;
    border-radius: 5px;
    height: 50px;
}
canvas{
    border-color: white;
    border-width: 2px;
    box-shadow: 5px 5px 25px black;
    margin-top: 150px;
}